/* ------------------------------------------------- */
/* Sample Overlay Text                               */
/* ------------------------------------------------- */
cast-media-player:after {
  content: "Hello Dani";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin-top: -150px;
  opacity: 0.5;
  color: blue;
}
