.container {
	text-align:center;
	perspective: 100px;
	perspective-origin: center center;
}

video { 
  transition: all 500ms;
  animation: slideback 800ms 1 ease-in forwards;
}

.slideaway {
		animation: slideaway 800ms 1 ease-out forwards;
}

@keyframes slideaway {
  0% {
    transform:translateX(0) scale(1);
  }
  
  50% {
    transform:translateX(-40%) scale(.85) rotateY(-5deg);
  }

  100% {
    transform:translateX(-80%) scale(.7) rotateY(0deg);
  }
}

@keyframes slideback {
  0% {
    transform:translateX(-80%) scale(.7) rotateY(0deg);
  }
  
  50% {
    transform:translateX(-40%) scale(.85) rotateY(-5deg);
  }

  100% {
    transform:translateX(0) scale(1);
  }
}